@model IEnumerable<HR.DTO.Department.DepartmentVM>

@{
    ViewBag.Title = "Department Manage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="page-header">
    <h4 class="page-title">Department List</h4>

</div>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <div class="d-flex align-items-center">
                    <h4 class="card-title">Add Department</h4> 
                    <button id="add-new-department" class="btn btn-primary btn-round ml-auto" data-toggle="modal" data-target="#addRowModal">
                        <i class="fa fa-plus"></i>
                        Add Department
                    </button>
                </div>
            </div>
            <div class="card-body">
                <!-- Modal -->	<!-- Modal -->
                <div class="modal fade" id="addRowModal" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header no-bd">
                                <h5 class="modal-title">
                                    <span class="fw-mediumbold">
                                        Add/Edit 
                                    </span>
                                    <span class="fw-light">
                                         Department
                                    </span>
                                </h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body" id="form-container">
                                 
                            </div>
                            <div class="modal-footer no-bd">
                                <button type="button" id="addRowButton" class="btn btn-primary">Add/Edit</button>
                                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="table-responsive">
                    <table id="add-row" class="display table table-striped table-hover">
                         
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Name)
                                </th>
                                <th>
                                    User Count
                                </th>
                                <th>
                                    Total Salaries
                                </th>
                                <th style="width: 10%">Action</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Name)
                                </th>
                                <th>
                                    User Count
                                </th>
                                <th>
                                    Total Salaries
                                </th>
                                <th>Action</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            @foreach (var item in Model)
                            {
                            <tr>
                                <th>
                                    @Html.DisplayFor(model => item.Name)
                                </th>
                                <th>
                                    @item.Users.Count()
                                </th>
                                <th>
                                    @item.Users.Sum(m => m.Salary)
                                </th>
                                <td>
                                    <div class="form-button-action">

                                        <button data-index="@item.Id"    data-toggle="modal" data-target="#addRowModal" type="button"  title="" class="edit-new-department btn btn-link btn-primary btn-lg" data-original-title="Edit Department">
                                            <i class="fa fa-edit"></i>
                                        </button>
                                        @if (item.CanDelete)
                                        {
                                        <a data-index="@item.Id" data-toggle="tooltip" title="" class="remove-department btn btn-link btn-danger" data-original-title="Remove">
                                            <i class="fa fa-times"></i>

                                        </a>
                                        }
                                        else
                                        {
                                            <text>Delete Not Permitted</text>
                                        }
                                    </div>
                                </td>
                            </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <!-- Datatables -->
    <script src="../../assets/js/plugin/datatables/datatables.min.js"></script>
    <script src="../../assets/js/ready.min.js"></script>

    <script>
        $(document).ready(function () {


            // set datatable
            $('#add-row').DataTable({
                "pageLength": 5,
            });

            // get the form of the add
            $('#add-new-department').click(function () {
                ajaxManager.get('/department/add', function (data) {
                    $('#form-container').html(data);
                }, function (err) { })
            });

            // get the form of the edit 
            $('.edit-new-department').click(function () {
                ajaxManager.get(`/department/edit/${this.dataset["index"]}`, function (data) {
                    $('#form-container').html(data);
                }, function (err) { })
            });

            // remove the department
            $(document).on('click', '.remove-department', function () {
                var index = this.dataset['index'];
                var self = $(this);

                ajaxManager.get(`/department/delete/${index}`, function (data) {
                    self.parent().parent().parent().remove();
                }, function (err) { })
            });

            // add or edit the department
            $('#addRowButton').click(function () {
                // validate the form data
                if (validator.form("#form-container > form")) {
                    ajaxManager.postForm("", "#form-container > form", function (data) {
                        $('#add-row').append(data);
                        $('#addRowModal').modal('hide');
                    }, function (err) {
                    })
                }
            });
        });
    </script>
}
